absl-py==0.13.0
aio-pika==6.8.0
aiofiles==0.7.0
aiohttp==3.7.4
aiormq==3.3.1
alabaster==0.7.12
anaconda-client @ file:///C:/ci/anaconda-client_1624480257523/work
anaconda-navigator==2.1.0
anaconda-project==0.8.3
APScheduler==3.7.0
asn1crypto @ file:///tmp/build/80754af9/asn1crypto_1596577642040/work
astroid @ file:///C:/ci/astroid_1628063237844/work
astropy==4.0.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
Babel @ file:///tmp/build/80754af9/babel_1605108370292/work
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size @ file:///tmp/build/80754af9/backports.shutil_get_terminal_size_1608222128777/work
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt @ file:///C:/ci/bcrypt_1597936262193/work
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
bidict==0.21.3
bitarray @ file:///C:/ci/bitarray_1629133104217/work
bkcharts==0.2
blaze==0.11.3
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
bokeh @ file:///C:/ci/bokeh_1620710237359/work
boto==2.49.0
boto3==1.18.55
botocore==1.21.55
Bottleneck==1.3.2
Brotli==1.0.9
CacheControl @ file:///Users/ktietz/demo/mc3/conda-bld/cachecontrol_1629143824253/work
cachetools==4.2.2
certifi==2021.5.30
cffi @ file:///C:/ci/cffi_1625831763871/work
chardet==3.0.4
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
clang==5.0
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
clyent==1.2.2
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
colorclass==2.2.0
coloredlogs==15.0.1
colorhash==1.0.3
comtypes==1.1.10
conda==4.10.3
conda-build==3.17.7
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///C:/ci/conda-package-handling_1618262422346/work
conda-repo-cli @ file:///tmp/build/80754af9/conda-repo-cli_1620168426516/work
conda-token @ file:///tmp/build/80754af9/conda-token_1620076980546/work
conda-verify==3.4.2
contextlib2==0.6.0.post1
contextvars==2.4
cryptography @ file:///C:/ci/cryptography_1616769514516/work
cycler==0.10.0
Cython @ file:///C:/ci/cython_1626257069493/work
cytoolz==0.11.0
dask @ file:///tmp/build/80754af9/dask-core_1602083700509/work
datashape==0.5.4
dateutils==0.6.12
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
distlib @ file:///tmp/build/80754af9/distlib_1622544193819/work
distributed @ file:///C:/ci/distributed_1605048547742/work
dm-tree==0.1.6
dnspython==1.16.0
docopt==0.6.2
docutils @ file:///C:/ci/docutils_1620828217025/work
ecdsa @ file:///tmp/build/80754af9/ecdsa_1622554921100/work
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
fbmessenger==6.0.0
filelock==3.0.12
flake8 @ file:///tmp/build/80754af9/flake8_1601911421857/work
Flask==1.1.2
Flask-Cors @ file:///tmp/build/80754af9/flask-cors_1609957731919/work
Flask-SocketIO==4.3.1
flatbuffers==1.12
fsspec @ file:///tmp/build/80754af9/fsspec_1602684995936/work
future==0.18.2
gast==0.3.3
gevent==1.4.0
glob2==0.7
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet @ file:///C:/ci/greenlet_1628888263395/work
grpcio==1.40.0
h11==0.9.0
h5py==2.10.0
HeapDict==1.0.1
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
httpcore==0.11.1
httplib2==0.19.1
httptools==0.3.0
httpx==0.15.4
humanfriendly==10.0
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
idna-ssl==1.1.0
imagecodecs @ file:///C:/ci/imagecodecs_1603253467096/work
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imagesize==1.2.0
immutables @ file:///C:/ci/immutables_1628889623769/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
inflection==0.5.1
iniconfig @ file:///tmp/build/80754af9/iniconfig_1602780191262/work
intervaltree @ file:///tmp/build/80754af9/intervaltree_1598376443606/work
ipykernel @ file:///C:/ci/ipykernel_1596206775157/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1593446240034/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
itsdangerous==1.1.0
jdcal==1.4.1
jedi @ file:///C:/ci/jedi_1606914470086/work
Jinja2==2.11.2
jmespath==0.10.0
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
json5==0.9.5
jsonpickle==2.0.0
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-core @ file:///C:/ci/jupyter_core_1612213536848/work
jupyterlab==2.2.6
jupyterlab-launcher @ file:///tmp/build/80754af9/jupyterlab_launcher_1601490670252/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
kafka-python==2.0.2
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver @ file:///C:/ci/kiwisolver_1612282446297/work
lazy-object-proxy @ file:///C:/ci/lazy-object-proxy_1616529300868/work
libarchive-c==2.9
llvmlite==0.36.0
locket==0.2.1
lockfile==0.12.2
lxml @ file:///C:/ci/lxml_1616443258060/work
Markdown==3.3.4
MarkupSafe @ file:///C:/ci/markupsafe_1621528313524/work
matplotlib @ file:///C:/ci/matplotlib-base_1603357981283/work
mattermostwrapper==2.2
mccabe==0.6.1
menuinst @ file:///C:/ci/menuinst_1631733440842/work
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools @ file:///tmp/build/80754af9/more-itertools_1605111547926/work
mpmath==1.2.1
msgpack @ file:///C:/ci/msgpack-python_1612287359466/work
multidict==5.0.0
multipledispatch==0.6.0
multitasking==0.0.9
navigator-updater==0.2.1
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///C:/ci/nbconvert_1601896775581/work
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1605115881283/work
networkx @ file:///tmp/build/80754af9/networkx_1598376031484/work
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nose @ file:///tmp/build/80754af9/nose_1606773131901/work
notebook==5.2.2
nsetools==1.0.11
numba==0.53.0
numexpr @ file:///C:/ci/numexpr_1614798717152/work
numpy==1.18.5
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
oauth2client==4.1.3
oauthlib==3.1.1
odo==0.5.1
olefile==0.46
openpyxl @ file:///tmp/build/80754af9/openpyxl_1598113097404/work
opt-einsum==3.3.0
packaging==20.4
pamqp==2.3.0
pandas @ file:///C:/ci/pandas_1608056614942/work
pandas-datareader @ file:///tmp/build/80754af9/pandas-datareader_1595379313840/work
pandocfilters @ file:///C:/ci/pandocfilters_1605120535071/work
paramiko==1.18.4
parso==0.7.0
partd==1.1.0
path @ file:///C:/ci/path_1623603983518/work
pathlib2 @ file:///C:/ci/pathlib2_1625585785177/work
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///C:/ci/pillow_1625663293114/work
pkginfo==1.7.1
plotly==5.0.0
pluggy @ file:///C:/ci/pluggy_1615976526223/work
ply==3.11
progress @ file:///C:/ci/progress_1614270750817/work
prometheus-client==0.8.0
prompt-toolkit==2.0.10
protobuf==3.18.0
psutil @ file:///C:/ci/psutil_1612298125479/work
psycopg2-binary==2.9.1
py @ file:///tmp/build/80754af9/py_1593446248552/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycrypto==2.6.1
pycurl==7.43.0.6
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1598885001695/work
pydot==1.4.2
pyflakes==2.2.0
Pygments @ file:///tmp/build/80754af9/pygments_1604103097372/work
PyJWT @ file:///C:/ci/pyjwt_1619651879817/work
pykwalify==1.8.0
pylint @ file:///C:/ci/pylint_1627536908981/work
pymongo==3.10.1
pyodbc===4.0.0-unsupported
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyreadline==2.1
pyreadline3==3.3
pyrsistent @ file:///C:/ci/pyrsistent_1600141799440/work
PySocks @ file:///C:/ci/pysocks_1605305839978/work
pyTelegramBotAPI==3.8.3
pytest==6.2.4
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-engineio==3.13.2
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1600278539111/work
python-language-server @ file:///tmp/build/80754af9/python-language-server_1600454544709/work
python-socketio==4.6.0
pytz==2020.1
PyWavelets @ file:///C:/ci/pywavelets_1601658410782/work
pywin32==227
PyYAML==5.4.1
pyzmq @ file:///C:/ci/pyzmq_1628276569449/work
QDarkStyle==2.8.1
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1602272867890/work
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
Quandl==3.6.1
questionary==1.9.0
rasa==2.8.7
rasa-sdk==2.8.2
redis==3.5.3
regex==2021.7.6
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rocketchat-API==1.16.0
rope @ file:///tmp/build/80754af9/rope_1602264064449/work
rsa==4.7.2
ruamel-yaml-conda @ file:///C:/ci/ruamel_yaml_1616016773336/work
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.6
s3transfer==0.5.0
sanic==20.9.1
Sanic-Cors==0.10.0.post3
sanic-jwt==1.5.0
Sanic-Plugins-Framework==0.9.5
scikit-image==0.17.2
scikit-learn @ file:///C:/ci/scikit-learn_1622739439730/work
scipy @ file:///C:/ci/scipy_1597675683670/work
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
sentry-sdk==1.2.0
simplegeneric==0.8.1
singledispatch @ file:///tmp/build/80754af9/singledispatch_1602523705405/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
sklearn-crfsuite==0.3.6
slackclient==2.9.3
sniffio==1.2.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1597428793432/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1597081412696/work
spyder==3.2.8
SQLAlchemy @ file:///C:/ci/sqlalchemy_1626948547082/work
statsmodels==0.12.2
sympy @ file:///C:/ci/sympy_1618255480725/work
tables==3.6.1
tabulate==0.8.9
tblib @ file:///tmp/build/80754af9/tblib_1597928476713/work
tenacity==7.0.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.3.4
tensorflow-addons==0.13.0
tensorflow-estimator==2.3.0
tensorflow-hub==0.12.0
tensorflow-probability==0.13.0
termcolor==1.1.0
terminaltables==3.1.0
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tifffile @ file:///tmp/build/80754af9/tifffile_1616096039718/work
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz @ file:///tmp/build/80754af9/toolz_1601054250827/work
tornado==5.1.1
tqdm @ file:///tmp/build/80754af9/tqdm_1602185206534/work
traitlets @ file:///C:/ci/traitlets_1632759765830/work
twilio==6.50.1
typed-ast @ file:///C:/ci/typed-ast_1624953776872/work
typeguard==2.12.1
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
tzlocal==2.1
ujson @ file:///C:/ci/ujson_1611259572767/work
unicodecsv==0.14.1
urllib3==1.26.7
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
webexteamssdk==1.6
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306197271/work
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter @ file:///tmp/build/80754af9/xlsxwriter_1602692860603/work
xlwings==0.24.7
xlwt==1.3.0
xmltodict==0.12.0
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
yarl==1.6.3
yfinance==0.1.59
zict==2.0.0
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
